.aboutSkill {
    background: linear-gradient(180deg, #a3a6a87a, #FFFFFF);
    padding: 50px 20px;
    display: flex;
    justify-content: space-between; // Align items on opposite ends horizontally
    align-items: flex-start; // Align items at the top vertically
  
    .about {
      flex: 1; // Occupy remaining space
      max-width: 600px;
      text-align: left; // Align text to the left
      padding-right: 20px; // Add spacing between sections
      margin-right: 10%;
  
      h1 {
        font-size: 80px;
        line-height: 88px;
        font-style: oblique;
      }
  
      img {
        width: 100px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 20px;
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
  
      p {
        font-size: 18px;
        line-height: 1.6;
      }
    }
  
    .skill {
      flex: 1; // Occupy remaining space
      max-width: 600px;
      text-align: left; // Align text to the left
      padding-left: 20px; // Add spacing between sections
  
      h1, h2 {
        font-size: 60px;
        line-height: 88px;
        font-style: oblique;
        text-align: left;
      }
  
      .skillItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
      }

      .listContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .item {
        display: flex;
        align-items: center;
        margin: 10px;
        padding: 10px;
        background-color: #5b6e74;
        border-radius: 10px;
        color: white;
      
        h6 {
          margin-left: 10px;
          font-size: 16px;
         
        }
      
        img {
          width: 20px; /* Adjust as needed */
          height: 20px; /* Adjust as needed */
        }
      }
      
  
    }
    
  // Media query for small screens (up to 768px)
  @media screen and (max-width: 768px) {
    flex-direction: column; // Change to column layout for smaller screens
    align-items: center; // Center items vertically

    padding: 30px 10px; // Adjust padding for smaller screens

    .about, .skill {
      max-width: 100%; // Take full width on smaller screens
      text-align: center; // Center text on smaller screens
      padding: 0; // Remove padding for smaller screens
      margin: 0 auto 20px; // Add margin at the bottom for spacing
    }

    .about {
      h1 {
        font-size: 40px; // Decrease font size for smaller screens
        line-height: 48px; // Adjust line height accordingly
      }

      img {
        width: 80px; // Decrease image size for smaller screens
        margin-bottom: 10px; // Adjust margin for smaller screens
      }

      p {
        font-size: 16px; // Decrease font size for smaller screens
        line-height: 1.4; // Adjust line height accordingly
      }
    }

    .skill {
      h1, h2 {
        font-size: 40px; // Decrease font size for smaller screens
        line-height: 48px; // Adjust line height accordingly
      }

      .item {
        margin: 10px 5px; // Adjust margin for smaller screens
        padding: 10px;
        h6 {
          font-size: 14px; // Decrease font size for smaller screens
        }

        img {
          width: 16px; // Decrease image size for smaller screens
          height: 16px; // Decrease image size for smaller screens
        }
      }
    }
  }
  }
  

  