html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dm Sans" , sans-serif;
}

body{
    background-color:#FFFFFF ;
    color: #0C090A;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

@media screen and (max-width: 540px) {
    html {
      font-size: 16px; // Adjust font size for smaller screens
    }
    
    section {
      height: auto; // Adjust section height to fit content
      scroll-snap-align: start; // Change snap align for smaller screens if needed
      margin: 0 auto; // Center the section horizontally
      
    }
  }