
.navbar{
height: 100px;
.wrapper{


    max-width:1366px;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 100%;
    margin-left: 10%;

  

    span{
        font-weight:bold;
        font-style: oblique;
        
     
        
       
        
    }
    .social{
        display: flex;
        gap:20px;
       
        img{
           
            width: 25px;
            height:25px;
           
        }
    }
}
}

 // Mobile Responsive Styles
 @media screen and (max-width: 768px) {
    .wrapper {
      margin-left: 5%; // Adjusted margin for smaller screens
      height: auto; // Adjusted height to auto for smaller screens

      span {
        margin-top: 10px; // Added margin bottom for spacing between elements
        flex-direction: column;
        display: flex;
      }

      .social {
        margin-top: 10px; // Added margin top for spacing between elements
        padding:20px;
      }
    }
  }
