.skillItem {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    &.active{
      background-color: #000000;
      color: white;


    
    }

    // Media query for small screens (up to 768px)
  @media screen and (max-width: 768px) {
    padding: 8px 16px; // Adjust padding for smaller screens
    margin: 8px; // Adjust margin for smaller screens
    font-size: 14px; // Decrease font size for smaller screens
  }
  }

 
